@import "../../../../common/sass/variabler";
@import "../../../../common/sass/mixins";

.containerItem {
  .descriptionItem {
    cursor: pointer;
    position: relative;
    padding: 5px;

    &:hover {
      border-radius: 13px;
      background-color: $bgColor;
      width: 110%;
      margin-left: -10%;
      @include transitionDefault(margin-left, 0.4s);

      .tooltip {
        display: block;
      }
    }

    .titleItem {
      margin: 2px;
    }

    .tooltip {
      position: absolute;
      top: 0;
      left: 200%;
      transform: translateX(-50%);
      background-color: $bgColor;
      border-radius: 5px;
      padding: 5px;
      display: none;
    }
  }
}

.selectedItem {
  border-radius: 13px;
  background-color: #c59a6e;
}

