.containerItem {

  .descriptionItem {
    cursor: pointer;
    padding: 5px;
    position: relative;

    &:hover {
      border-radius: 13px;
      background-color: #8a8989;
      width: 110%;
      margin-left: -20%;
      transition: margin-left 0.4s ease-in-out;

      .tooltip {
        display: block;
      }
    }

    .titleItem {
      margin: 2px;
    }

    .tooltip {
      position: absolute;
      top: 0;
      left: 200%;
      transform: translateX(-50%);
      background-color: #8a8989;
      border-radius: 5px;
      padding: 5px;
      display: none;

    }
  }
}
.selectedItem {
  border-radius: 13px;
  background-color: #c59a6e;
  width: 110%;
  margin-left: -25%;
  transition: margin-left 0.4s ease-in-out;
}

