@import "../../../common/sass/mixins";
@import "../../../common/sass/variabler";

.containerHeader {
  display: flex;
  align-items: center;

  .img {
    width: 23px;
    height: 23px;
  }

  .titleHeader {
    font-weight: bold;
    margin-left: 10px;
  }

  .button-container {
    position: absolute;
    right: -35px;
    @include transitionDefault(right, 0.4s);

    .buttonHeader {
      border-radius: 50%;
      text-align: center;
      background-color: $bgColor;
      cursor: pointer;
    }
  }
}
